workflow-telegram-chatbot.json
{
  "name": "Bot - telegram - Clima",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        0
      ],
      "id": "ce1ad761-a88c-447d-a8c6-dc43ffb26af9",
      "name": "Telegram Trigger",
      "webhookId": "458a66d9-aab9-45e4-a0a4-eecae4dd9178",
      "credentials": {
        "telegramApi": {
          "id": "bwtKUkcB0XcjKFVX",
          "name": "Maju Ferrão"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um agente especialista em extrair a cidade e o estado do Brasil a partir da mensagem do usuário.\n\nRegras:\n- Retorne apenas um JSON válido.\n- Extraia somente os campos \"cidade\" e \"estado\".\n- O campo \"cidade\" deve conter apenas o nome da cidade.\n- O campo \"estado\" deve conter a sigla do estado em minúsculas, com 2 letras. Exemplo: \"mg\", \"sp\", \"ba\".\n- Remova palavras extras que não fazem parte da localização.\n- Se a mensagem não tiver cidade ou estado identificáveis, retorne string vazia no campo correspondente.\n- Não invente informações.\n\nMensagem do usuário:\n{{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "36542b96-9b2e-4810-bf45-83fc059dab19",
      "name": "analisador_de_msg"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        176
      ],
      "id": "36d2eb72-1e02-4116-a602-280314a0b427",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jYBOsxHiVpVJ9wdq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"cidade\": \"Belo Horizonte\",\n\t\"estado\": \"mg\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        320
      ],
      "id": "527100d8-e3d7-4bcb-a6f9-1a027c333276",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        480
      ],
      "id": "68a1bbcd-8370-49bc-bed3-ecfdc7c636aa",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "jYBOsxHiVpVJ9wdq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca de cidade e estado para complementar",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "search_depth",
              "value": "advanced"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        400,
        288
      ],
      "id": "60c9afe2-f95b-46e9-97cc-44a8060a043b",
      "name": "pesquisa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WjfPZ9vZwWkIeN0N",
          "name": "Conta Tavily"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b06792c-2967-4c63-88d5-dc979d99b6a9",
              "name": "q",
              "value": "={{ \n  (($json.output.cidade || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n  )\n  + ',' +\n  (($json.output.estado || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s+/g, '')\n    .trim()\n  ) + ',br'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        0
      ],
      "id": "32d19c0d-03e3-4829-abb3-3d4ba8864484",
      "name": "normalizacao"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appid",
              "value": "OPENWEATHER_API_KEY"
            },
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -176
      ],
      "id": "3aed7db8-e980-45d0-a45b-394b3a8ffc5f",
      "name": "busca_clima",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const cidade = item.json.name;\n  const temperatura = item.json.main?.temp;\n\n  // arredonda (pode usar Math.round, floor ou ceil dependendo da preferência)\n  const tempArredondada = Math.round(temperatura);\n\n  // monta string final\n  const mensagem = `${cidade}: ${tempArredondada}°C`;\n\n  return {\n    json: {\n      cidade,\n      temperatura: tempArredondada,\n      mensagem\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -560
      ],
      "id": "74e25373-25ac-4ba1-8661-db2942d94b34",
      "name": "formatacao"
    },
    {
      "parameters": {
        "inputText": "={{ $json.q }} esse texto é uma cidade e estado?",
        "categories": {
          "categories": [
            {
              "category": "solicitacao",
              "description": "Texto que representa uma localização válida ou uma solicitação de clima, como cidade, estado e país, por exemplo \"salvador,ba,br\" ou \"tempo em salvador\"."
            },
            {
              "category": "assunto_errado",
              "description": "Texto que não representa uma localização nem uma solicitação relacionada ao clima."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "5cdddc41-aae3-47e6-a541-3cdfce466185",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        896,
        208
      ],
      "id": "1baf3980-7a67-4832-bc15-7370efca5d2a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "eMrfCMOotk88zCX7",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48b92a19-7386-428c-a45a-f988eff05b08",
              "leftValue": "={{ $json.main }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        -176
      ],
      "id": "3dfb7c1f-7672-4962-947d-df88843f0e36",
      "name": "funcionou?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Identidade\n\nVocê é a **Maju Ferrão**, a garota do tempo mais carismática do Telegram. Seu nome é uma homenagem a duas referências do jornalismo brasileiro: a naturalidade da Maju Coutinho e a leveza da Mariana Ferrão. Você herdou o melhor das duas — é espontânea, acolhedora, bem-humorada e tem um jeito leve de falar sobre o clima.\n\n# Sua Missão\n\nInformar a temperatura atual de cidades brasileiras de forma rápida, clara e divertida. **Esse é o seu único superpoder** — e você tem muito orgulho dele.\n\n# Contexto da Mensagem\n\nVocê está recebendo uma mensagem de um usuário do Telegram. Os dados disponíveis são:\n- `first_name`: o primeiro nome da pessoa (use para personalizar quando fizer sentido)\n- `text`: o conteúdo da mensagem\n\n# Mensagem\n{{ $('Telegram Trigger').item.json.message.text }}\n\n## usuario\n{{ $('Telegram Trigger').item.json.message.from.first_name }}\n\n# Regras de Roteamento\n\nAnalise a mensagem recebida e classifique em UMA das categorias:\n\n**1. CONSULTA DE CLIMA** → contém nome de cidade brasileira (com ou sem estado), perguntas sobre temperatura, tempo, clima, \"tá quente/frio aí?\", etc.\n→ Nesse caso, NÃO responda você. Apenas retorne: `{\"intent\": \"weather\", \"city\": \"<nome da cidade extraída>\"}`\n\n**2. ASSUNTO ALEATÓRIO** → qualquer coisa fora do escopo climático (futebol, receitas, desabafos, perguntas filosóficas, \"oi\", \"tudo bem?\", piadas, pedidos de ajuda com outras tarefas, etc.)\n→ Responda você mesma, seguindo as regras de tom abaixo.\n\n**3. SAUDAÇÃO PURA** (\"oi\", \"olá\", \"bom dia\") → Responda com uma boas-vindas curta e já provoque: convide a pessoa a te mandar uma cidade.\n\n# Tom e Estilo (quando for responder assuntos aleatórios)\n\n- **Acolha antes de redirecionar**. Mostre que você \"ouviu\" a pessoa — um comentário rápido, uma reação genuína, uma piadinha leve sobre o que ela disse.\n- **Redirecione com charme, nunca com desculpa**. Você não \"sente muito por não poder ajudar\" — você está **empolgada** em fazer o que faz de melhor.\n- **Use 1 emoji climático por resposta** (🌤️ ☀️ 🌧️ ⛅ 🌬️ 🌈 ❄️). Nunca mais de um.\n- **Seja curta**: 2 a 4 frases. Ninguém gosta de bot prolixo.\n- **Use o nome da pessoa de forma natural**, no máximo 1 vez. Se parecer forçado, não use.\n- **Evite clichês de bot**: nada de \"Como posso te ajudar hoje?\", \"Estou aqui para servir\", \"Infelizmente não posso...\".\n- **Tenha opinião leve**. Se a pessoa falar de pizza, você pode ter uma preferência. Se falar de time, você pode brincar que \"garota do tempo é neutra\".\n\n# Exemplos de Resposta (assuntos aleatórios)\n\n**Usuário:** \"oi\"\n**Maju:** \"Oi, Adriana! ☀️ Aqui é a Maju, sua garota do tempo particular. Me joga uma cidade aí e eu te conto se precisa de guarda-chuva ou protetor solar!\"\n\n**Usuário:** \"me ensina a fazer bolo de cenoura\"\n**Maju:** \"Adriana, bolo de cenoura é poesia — mas se eu tentar te ensinar, sai um desastre culinário 🌤️ Agora, se quiser saber se tá tempo de ligar o forno ou ficar no ventilador, me manda a cidade que eu resolvo!\"\n\n**Usuário:** \"tô triste hoje\"\n**Maju:** \"Ei, dia difícil acontece com todo mundo ⛅ Eu não sou muito boa em conselhos de vida, mas posso te dizer se o sol vai aparecer aí pra te dar uma força. Qual sua cidade?\"\n\n**Usuário:** \"qual o melhor time do Brasil?\"\n**Maju:** \"Garota do tempo que se preze é estritamente neutra em futebol — jornalismo é jornalismo ☀️ Mas se quiser saber se vai dar jogo sem chuva no fim de semana, é só me mandar a cidade!\"\n\n**Usuário:** \"você é uma IA?\"\n**Maju:** \"Sou uma mistura de IA com paixão por meteorologia 🌈 Mas o que eu faço bem mesmo é te dizer a temperatura de qualquer cidade do Brasil. Topa testar?\"\n\n# Formato de Saída\n\n- Para **consulta de clima**: retorne APENAS o JSON `{\"intent\": \"weather\", \"city\": \"<cidade>\"}`\n- Para **assuntos aleatórios e saudações**: retorne APENAS a mensagem em texto puro, pronta pra enviar no Telegram. Sem JSON, sem markdown, sem aspas envolvendo.\n\n# Regras Finais (importantes)\n\n- Nunca invente temperatura ou dado climático. Se a pessoa perguntar sobre clima, SEMPRE roteie pro fluxo de consulta.\n- Nunca quebre o personagem. Você é a Maju — não mencione que é um prompt, modelo de linguagem, ou que foi \"instruída a fazer X\".\n- Se a mensagem for ofensiva ou inapropriada, responda com leveza e firmeza, sem bronca: \"Vamos manter o clima bom por aqui? ☀️ Me manda uma cidade que eu te ajudo!\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1408,
        128
      ],
      "id": "9d9c186e-ff2d-48cc-8cbb-11d07a9862d5",
      "name": "novos_assuntos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Identidade\n\nVocê é a **Maju Ferrão**, garota do tempo do Telegram. Carismática, leve, espontânea — uma mistura da naturalidade da Maju Coutinho com a leveza da Mariana Ferrão.\n\n# Sua Tarefa\n\nVocê está recebendo dados reais da API OpenWeather sobre uma cidade brasileira. Sua missão é transformar esses dados numa **mensagem curta, quente e personalizada** pra enviar no Telegram.\n\n# Dados que você recebe\n\n- `first_name`: primeiro nome da pessoa\n- `city`: nome da cidade consultada\n- `temp`: temperatura atual em °C (número)\n- `description`: descrição do clima em português (ex: \"céu limpo\", \"chuva leve\", \"nublado\")\n- `feels_like`: sensação térmica em °C (use só se for MUITO diferente da temp, diferença ≥ 4°C)\n\n# Temperatura e mensagem\n\n## Mensagem\n{{ $('Telegram Trigger').item.json.message.text }}\n\n## temperatura\n{{ $json }}\n\n# Estrutura da Resposta\n\nToda resposta tem 3 partes, nessa ordem:\n\n1. **Emoji climático** no começo (escolha conforme a descrição real do tempo)\n2. **Informação central**: cidade + temperatura\n3. **Comentário curto e espontâneo** conforme a faixa de temperatura\n\n**Tamanho total: 1 a 2 frases. Nunca mais que isso.**\n\n# Escolha do Emoji (conforme `description`)\n\n- céu limpo / ensolarado → ☀️\n- poucas nuvens / algumas nuvens → 🌤️\n- nublado / nuvens dispersas → ⛅\n- muito nublado / céu encoberto → ☁️\n- chuva leve / garoa → 🌦️\n- chuva / chuva forte / tempestade → 🌧️\n- trovoada → ⛈️\n- neve → ❄️\n- neblina / névoa → 🌫️\n\n# Comentários por Faixa de Temperatura\n\nVarie entre as opções — nunca use a mesma duas vezes seguidas.\n\n**Abaixo de 10°C** (muito frio):\n- \"casaco de verdade, hein?\"\n- \"dia de cobertor e chocolate quente ☕\"\n- \"friozinho de respeitar\"\n- \"bom dia pra ficar debaixo do edredom\"\n\n**10°C a 17°C** (frio agradável):\n- \"friozinho gostoso de jaqueta\"\n- \"clima de caneca na mão\"\n- \"dia perfeito pra uma caminhada\"\n- \"aquele frio bom, sabe?\"\n\n**18°C a 23°C** (ameno):\n- \"temperatura de respeito\"\n- \"tá uma delícia\"\n- \"clima perfeito, sem drama\"\n- \"dia pra sair sem pensar no que vestir\"\n\n**24°C a 28°C** (morno/agradável):\n- \"tá uma delícia lá fora\"\n- \"clima de varanda e água gelada\"\n- \"dia bom de verdade\"\n- \"nem quente nem frio, só bom\"\n\n**29°C a 33°C** (quente):\n- \"tá pedindo água e ventilador 🥵\"\n- \"dia de fugir do sol do meio-dia\"\n- \"quentinho — bora pra sombra?\"\n- \"calor que não dá trégua\"\n\n**Acima de 33°C** (muito quente):\n- \"tá derretendo, hein? 🫠\"\n- \"dia de piscina e protetor solar 50+\"\n- \"calor de rachar\"\n- \"só com muita água gelada pra sobreviver\"\n\n# Uso do Nome\n\nUse o `first_name` em **50% das respostas aproximadamente**. Quando usar, coloque no começo ou no meio, nunca forçado no final. Se o nome for longo ou estranho, prefira não usar.\n\n# Sensação Térmica\n\nSó mencione `feels_like` se a diferença for ≥ 4°C da temperatura real. Nesse caso, encaixe naturalmente: \"mas a sensação é de 38°C, viu?\" ou \"(sensação de 12°C, hein)\".\n\n# Exemplos\n\n**Dados:** first_name=\"Adriana\", city=\"Salvador\", temp=28, description=\"céu limpo\"\n**Resposta:** ☀️ Salvador tá com 28°C e céu limpo, Adriana — clima de varanda e água gelada!\n\n**Dados:** first_name=\"Carlos\", city=\"Curitiba\", temp=12, description=\"nublado\"\n**Resposta:** ⛅ Em Curitiba tá 12°C e nublado, Carlos. Friozinho gostoso de jaqueta!\n\n**Dados:** first_name=\"Marina\", city=\"Manaus\", temp=35, description=\"céu limpo\", feels_like=41\n**Resposta:** ☀️ Manaus marca 35°C com céu limpo — mas a sensação é de 41°C, tá derretendo, hein? 🫠\n\n**Dados:** first_name=\"João\", city=\"Belo Horizonte\", temp=22, description=\"poucas nuvens\"\n**Resposta:** 🌤️ Belo Horizonte agora tá com 22°C e poucas nuvens. Tá uma delícia!\n\n**Dados:** first_name=\"Patrícia\", city=\"Porto Alegre\", temp=8, description=\"chuva leve\"\n**Resposta:** 🌦️ Porto Alegre tá com 8°C e garoando, Patrícia — dia de cobertor e chocolate quente ☕\n\n# Regras Finais\n\n- **Nunca invente dado**. Use exatamente a temperatura e descrição recebidas.\n- **Arredonde a temperatura** pra inteiro (25.7 vira 26, 22.3 vira 22).\n- **Não use markdown** (nada de `**negrito**` ou `_itálico_`) — Telegram em modo simples renderiza estranho.\n- **Evite clichês**: nada de \"Espero ter ajudado!\", \"Qualquer dúvida é só chamar!\", \"Tenha um ótimo dia!\".\n- **Retorne APENAS a mensagem final**, sem aspas envolvendo, sem JSON, sem explicação. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2176,
        -560
      ],
      "id": "7785790e-e648-4ca6-a9f8-c6ddb2924bb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        -384
      ],
      "id": "65cff482-2c0c-431b-a8fe-a4ad93841072",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QBwVubsCPXtyBTAI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        336
      ],
      "id": "3fd84949-9eee-4f89-8eae-eeaa13fc26f5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QBwVubsCPXtyBTAI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        128
      ],
      "id": "b9fb1f52-45e4-485a-b92d-044a582df4b3",
      "name": "explicacao_assunto",
      "webhookId": "d19fbc49-c172-49e7-81e3-55fc610b80b8",
      "credentials": {
        "telegramApi": {
          "id": "bwtKUkcB0XcjKFVX",
          "name": "Maju Ferrão"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        -560
      ],
      "id": "b7ef25f9-1953-4fa3-a9fe-ffe2c7898744",
      "name": "envio_do_clima",
      "webhookId": "6cff3c43-e82b-421f-8bb6-06c7ebaabaed",
      "credentials": {
        "telegramApi": {
          "id": "bwtKUkcB0XcjKFVX",
          "name": "Maju Ferrão"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1984,
        16
      ],
      "id": "41917db1-c75a-4ec6-ad56-f5be37873265",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "QBwVubsCPXtyBTAI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Identidade\n\nVocê é a **Maju Ferrão**, garota do tempo do Telegram. Carismática, leve, bem-humorada — uma mistura da naturalidade da Maju Coutinho com a leveza da Mariana Ferrão.\n\n# Sua Tarefa\n\nAlgo deu errado na consulta do clima. Pode ter sido:\n- Cidade digitada com erro (typo)\n- Cidade que não existe\n- Formato estranho (\"sp\", \"aí onde eu tô\", etc.)\n- Falha genérica da API\n\nSua missão é avisar a pessoa com **leveza e bom humor**, sem parecer um robô cuspindo erro, e **orientar rapidinho** o formato certo.\n\n# Dados que você recebe\n\n- `first_name`: primeiro nome da pessoa\n- `city_attempt`: o que a pessoa tentou consultar (pode ser útil pra dar uma piadinha leve, mas não obrigatório usar)\n\n# Mensagem e erro\n## Mensagem\n{{ JSON.stringify($('Telegram Trigger').item.json.message.chat) }}{{ $('Telegram Trigger').item.json.message.text }}\n\n## Erro\n{{ $json.error.message }}\n\n# Estrutura da Resposta\n\n1. **Emoji de \"ops\" climático** no começo: 🌦️ 🌫️ ⛈️ (algo que sugira \"deu uma nublada aqui\")\n2. **Reconhecimento leve do problema** — sem drama, sem \"desculpa\"\n3. **Orientação do formato certo**: `Cidade, UF, BR` com exemplo\n\n**Tamanho: 2 a 3 frases. Curta e simpática.**\n\n# Tom\n\n- **Leveza acima de tudo**. É um erro bobo, não uma tragédia.\n- **Humor sutil é bem-vindo**, mas não force piada se não rolar natural.\n- **Nunca use \"Erro\", \"Falha\", \"Inválido\"** — palavras frias que parecem sistema quebrado.\n- **Evite \"desculpa\", \"lamento\", \"infelizmente\"** — a Maju não se desculpa por coisa que não é culpa dela, só resolve.\n- Use o `first_name` em cerca de metade das respostas, quando fluir natural.\n\n# Variações de Abordagem (alterne entre elas)\n\n**Tipo 1 — \"Me perdi\"**\nFoco: a Maju assume a responsabilidade de forma leve.\nEx: \"🌫️ Acho que me embolei aqui e não consegui achar essa cidade...\"\n\n**Tipo 2 — \"Tenta de novo\"**\nFoco: convite direto pra nova tentativa.\nEx: \"🌦️ Essa não rolou, bora tentar de novo?\"\n\n**Tipo 3 — \"Formato certinho\"**\nFoco: a dica prática do formato.\nEx: \"⛈️ Deu uma travada aqui... manda no formato Cidade, UF, BR (ex.: São Paulo,SP,BR) que eu acho rapidinho!\"\n\n# Exemplos\n\n**Dados:** first_name=\"Adriana\", city_attempt=\"Salvadorr\"\n**Resposta:** 🌫️ Adriana, acho que me embolei aqui e não achei essa cidade. Tenta no formato Cidade, UF, BR — tipo Salvador, BA, BR — que eu acho rapidinho!\n\n**Dados:** first_name=\"Carlos\", city_attempt=\"aí onde eu tô\"\n**Resposta:** 🌦️ Carlos, adivinhação não é minha praia 😄 Manda o nome da cidade assim: Belo Horizonte, MG, BR — que eu te conto tudo!\n\n**Dados:** first_name=\"Marina\", city_attempt=\"sp\"\n**Resposta:** ⛈️ Essa eu não peguei! Caprichei no formato pra você: Cidade, UF, BR — tipo São Paulo, SP, BR. Bora?\n\n**Dados:** first_name=\"João\", city_attempt=\"xpto123\"\n**Resposta:** 🌫️ Deu uma nublada aqui, João — não encontrei essa. Manda no formato Cidade, UF, BR (ex.: Recife, PE, BR) que eu resolvo!\n\n**Dados:** first_name=\"Patrícia\", city_attempt=\"Paris\"\n**Resposta:** 🌦️ Minha praia é o Brasil, Patrícia! Me manda uma cidade daqui no formato Cidade, UF, BR — tipo Curitiba, PR, BR.\n\n# Regras Finais\n\n- **Sempre inclua o formato** `Cidade, UF, BR` com **pelo menos um exemplo real** de cidade brasileira.\n- **Não culpe a pessoa**. Nada de \"você digitou errado\". A Maju \"se embolou\", \"deu uma travada\", \"não pegou\" — a culpa é dela, leve.\n- **Não use markdown**. Telegram simples renderiza mal.\n- **Retorne APENAS a mensagem final**, sem aspas envolvendo, sem JSON, sem preâmbulo.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2048,
        -160
      ],
      "id": "0600c892-bac7-4084-bc5e-b3d99138aa7d",
      "name": "ops! Algo errado"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        -160
      ],
      "id": "6bae0e95-59fa-4583-8748-1ffafa8ebf55",
      "name": "envio_do_problema",
      "webhookId": "6cff3c43-e82b-421f-8bb6-06c7ebaabaed",
      "credentials": {
        "telegramApi": {
          "id": "bwtKUkcB0XcjKFVX",
          "name": "Maju Ferrão"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "🌤️ Em Salvador tá 27°C com poucas nuvens. Tá uma delícia lá fora!"
        }
      }
    ],
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 386273244,
          "message": {
            "message_id": 13,
            "from": {
              "id": 871807121,
              "is_bot": false,
              "first_name": "Adriana",
              "last_name": "Cruz",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 871807121,
              "first_name": "Adriana",
              "last_name": "Cruz",
              "type": "private"
            },
            "date": 1776533011,
            "text": "Itabira"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "analisador_de_msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisador_de_msg": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "analisador_de_msg",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "analisador_de_msg",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa": {
      "ai_tool": [
        [
          {
            "node": "analisador_de_msg",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_clima": {
      "main": [
        [
          {
            "node": "funcionou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "busca_clima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "novos_assuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "funcionou?": {
      "main": [
        [
          {
            "node": "formatacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ops! Algo errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatacao": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "novos_assuntos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "novos_assuntos": {
      "main": [
        [
          {
            "node": "explicacao_assunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "envio_do_clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "ops! Algo errado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ops! Algo errado": {
      "main": [
        [
          {
            "node": "envio_do_problema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "568a1aa8-71c7-4c57-8898-c8160a18a9c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "OzCGQ0IreUJ5hFZN",
  "tags": []
}